.titre {
    /* text-align: center; */
    font-size: 120%;
    margin: auto;
    margin-bottom: 10%;
    width: 50%;
    padding: 10px;
    color: rgba(190, 190, 213, 0.749);
    background-color: 
    rgb(47, 45, 45);
    border-radius: 10px;
    border: 5px;
}

.content_api {

    margin: auto;
}